.spago/
bower_components/
node_modules/
venv/

build/
coverage/
dist/
generated-docs/
output/
tests_output/

__pycache__/
.mypy_cache/
.nx/
.pytest_cache/
.terraform/

*.coverage
*.dblite
*.egg-info/
*.env*
*.o
*.pyc
*.types

.DS_Store
.psc-ide-port
.terraform.lock.hcl
yarn-error.log
