__pypackages__/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.c9/
.cache
.classpath
.coverage
.coverage.*
.dmypy.json
.DS_Store
.eggs/
.env
.env.bak
.history/*
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mocha/
.mypy_cache/
.nox/
.nyc_output/
.project
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
.sass-cache/
.scrapy
.settings/
.spyderproject
.spyproject
.test_report.*
.tox/
.venv
.vscode/*
.vscode/settings.json
.webassets-cache
*.code-workspace
*.cover
*.egg
*.egg-info/
*.env
*.launch
*.log
*.manifest
*.mo
*.pot
*.pub
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
*.sqlite3
*.sublime-workspace
*.swp
*.tfstate
*.tfstate.backup
*.tgz
*$py.class
/.psa*
/.psc-package/
/.psc*
/.pulp-cache/
/.purs*
/.spago
/bower_components/
/generated-docs/
/node_modules/
/output/
\__pycache__/
bazel-out/
build/
celerybeat-schedule/
celerybeat.pid
chrome-profiler-events*.json
connect.lock
cov.xml
coverage.xml
coverage/
develop-eggs/
dist/
dmypy.json
docker-compose.override.yml
docs/_build/
downloads/
eggs/
env/
htmlcov/
instance/
ipython_config.py
jitsi-video
lib/
lib64/
libpeerconnection.log
libs
local_settings.py
mochawesome-report
mochawesome-report/
node_modules
node_modules/
nosetests.xml
npm-debug.log
out-tsc/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
sdist/
share/python-wheels/
site/
speed-measure-plugin*.json
sqlite3
target/
terraform/.terraform/
testem.log
Thumbs.db
tmp/
typings/
var/
venv.bak/
venv/
wheels/
yarn-error.log