{
  "plugins": ["prettier-plugin-jsdoc"],
  "jsdocCapitalizeDescription": true,
  "jsdocVerticalAlignment": true,
  "overrides": [
    {
      "files": "*.md",
      "options": { "printWidth": 120 }
    }
  ]
}
