name: Review

on: [push, pull_request]

jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: ./.github/actions/install

      - name: Run linters
        run: yarn lint

      - name: Run tests
        run: |
          docker run --rm -d -p 5432:5432 -e POSTGRES_DB=db -e POSTGRES_USER=user -e POSTGRES_PASSWORD=password postgres
          docker run --rm -d -p 11211:11211 memcached
          yarn prisma generate --schema ./test/prisma/schema.prisma
          yarn prisma migrate dev --schema ./test/prisma/schema.prisma
          yarn test
        env:
          DATABASE_URL: postgresql://user:password@localhost:5432/db

      - name: Publish test coverage
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage/clover.xml
