name: Review

on: [push, pull_request]

jobs:
  review:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]

    steps:
      - name: Fetch yarn's cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Set up yarn package caching
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Set up docker image caching
        uses: actions/cache@v2
        with:
          path: /var/lib/docker
          key: grunt-${{ hashFiles('Gruntfile.js') }}
          restore-keys: grunt-

      - name: Set the node version
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Checkout the source code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile
          yarn add global grunt-cli
          yarn global add ts-node
          yarn global add prisma 

      - name: Run linters
        run: grunt lint

      - name: Generate the test prisma schema
        run: grunt exec:prismaGenerate

      - name: Set a random postgres password
        uses: joellefkowitz/random-env@v1.0.0
        with:
          names: POSTGRES_PASSWORD

      - name: Create a postgres container
        run: |
          grunt exec:postgres
          grunt migrateDev

      - name: Create a memcached container
        run: grunt exec:memcached

      - name: Run unit tests
        run: grunt test

      - name: Report unit test coverage
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage/cobertura.xml
